{% extends 'base/base.html' %}
{% block title %}
Editar Articulo
{% endblock %}
{% block header %}
<h1 class="h1">Articulo</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Editar Articulo</div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}                
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning">Actualizar</button>
                <a class="btn btn-info" href="{% url 'listararticulo' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}