  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href= "{% static 'css/sb-admin.css' %}" rel="stylesheet">


<!--  vendor/fontawesome-free/css/all.min.css -->
<!--  vendor/datatables/dataTables.bootstrap4.css -->
<!--  css/sb-admin.css -->